h1 {
	font-family: verdana;
	color: #c890d4;
	text-align: center;
}
p {
	font-family: verdana;
	color: #c890d4;
	text-align: center;
}
h2 {
	font-family: verdana;
	color: #c890d4;
	text-align: center;
}
h3 {
	font-family: verdana;
	color: #c890d4;
	text-align: center;
}
body {
	background-color: #624569
}